In [2]:
# Imports
import pandas as pd

In [3]:
# Reading all the xlsx files
df1 = pd.read_excel('INDB/INDB.xlsx')
df2 = pd.read_excel('INDB/recipes_names.xlsx')
df3 = pd.read_excel('INDB/recipes_servingsize.xlsx')
df4 = pd.read_excel('INDB/recipes.xlsx')
df5 = pd.read_excel('INDB/Units.xlsx')

In [4]:
list_of_dfs = [df1, df2, df3, df4, df5]

# Creating a list of all the column names in each dataframe
list_of_column_names = []
for df in list_of_dfs:
    column_names = df.columns.tolist()
    list_of_column_names.append(column_names)

print("List of DataFrames and their column names:")
for i, df in enumerate(list_of_dfs):
    print(f"DataFrame {i+1}:")
    print(list_of_column_names[i])
    print()

List of DataFrames and their column names:
DataFrame 1:
['food_code', 'food_name', 'primarysource', 'energy_kj', 'energy_kcal', 'carb_g', 'protein_g', 'fat_g', 'freesugar_g', 'fibre_g', 'sfa_mg', 'mufa_mg', 'pufa_mg', 'cholesterol_mg', 'calcium_mg', 'phosphorus_mg', 'magnesium_mg', 'sodium_mg', 'potassium_mg', 'iron_mg', 'copper_mg', 'selenium_ug', 'chromium_mg', 'manganese_mg', 'molybdenum_mg', 'zinc_mg', 'vita_ug', 'vite_mg', 'vitd2_ug', 'vitd3_ug', 'vitk1_ug', 'vitk2_ug', 'folate_ug', 'vitb1_mg', 'vitb2_mg', 'vitb3_mg', 'vitb5_mg', 'vitb6_mg', 'vitb7_ug', 'vitb9_ug', 'vitc_mg', 'carotenoids_ug', 'servings_unit', 'unit_serving_energy_kj', 'unit_serving_energy_kcal', 'unit_serving_carb_g', 'unit_serving_protein_g', 'unit_serving_fat_g', 'unit_serving_freesugar_g', 'unit_serving_fibre_g', 'unit_serving_sfa_mg', 'unit_serving_mufa_mg', 'unit_serving_pufa_mg', 'unit_serving_cholesterol_mg', 'unit_serving_calcium_mg', 'unit_serving_phosphorus_mg', 'unit_serving_magnesium_mg', 'unit_serving_sodium_mg', 'unit_serving_potassium_mg', 'unit_serving_iron_mg', 'unit_serving_copper_mg', 'unit_serving_selenium_ug', 'unit_serving_chromium_mg', 'unit_serving_manganese_mg', 'unit_serving_molybdenum_mg', 'unit_serving_zinc_mg', 'unit_serving_vita_ug', 'unit_serving_vite_mg', 'unit_serving_vitd2_ug', 'unit_serving_vitd3_ug', 'unit_serving_vitk1_ug', 'unit_serving_vitk2_ug', 'unit_serving_folate_ug', 'unit_serving_vitb1_mg', 'unit_serving_vitb2_mg', 'unit_serving_vitb3_mg', 'unit_serving_vitb5_mg', 'unit_serving_vitb6_mg', 'unit_serving_vitb7_ug', 'unit_serving_vitb9_ug', 'unit_serving_vitc_mg', 'unit_serving_carotenoids_ug']

DataFrame 2:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'primarysource']

DataFrame 3:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'primarysource', 'no_of_servings_org', 'no_of_servings', 'size_of_servings_org', 'size_of_servings', 'servings_unit_org', 'servings_unit', 'remarks_1', 'remarks_2']

DataFrame 4:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'ingredient_name_org', 'amount_org', 'unit_org', 'food_code_org', 'food_name_org', 'food_code', 'food_name', 'amount', 'unit']

DataFrame 5:
['Food items', 'Units', 'Units.1', 'Remarks', 'Source']

In [5]:
# df1 I only need 'servings_unit', 'unit_serving_energy_kj', 'unit_serving_energy_kcal', 'unit_serving_carb_g', 'unit_serving_protein_g', 'unit_serving_fat_g', 'unit_serving_freesugar_g', 'unit_serving_fibre_g', 'unit_serving_sfa_mg', 'unit_serving_mufa_mg', 'unit_serving_pufa_mg', 'unit_serving_cholesterol_mg', 'unit_serving_calcium_mg', 'unit_serving_phosphorus_mg', 'unit_serving_magnesium_mg', 'unit_serving_sodium_mg', 'unit_serving_potassium_mg', 'unit_serving_iron_mg', 'unit_serving_copper_mg', 'unit_serving_selenium_ug', 'unit_serving_chromium_mg', 'unit_serving_manganese_mg', 'unit_serving_molybdenum_mg', 'unit_serving_zinc_mg', 'unit_serving_vita_ug', 'unit_serving_vite_mg', 'unit_serving_vitd2_ug', 'unit_serving_vitd3_ug', 'unit_serving_vitk1_ug', 'unit_serving_vitk2_ug', 'unit_serving_folate_ug', 'unit_serving_vitb1_mg', 'unit_serving_vitb2_mg', 'unit_serving_vitb3_mg', 'unit_serving_vitb5_mg', 'unit_serving_vitb6_mg', 'unit_serving_vitb7_ug', 'unit_serving_vitb9_ug', 'unit_serving_vitc_mg', 'unit_serving_carotenoids_ug'

df1 = df1[['food_code', 'food_name', 'primarysource', 'servings_unit', 'unit_serving_energy_kj', 'unit_serving_energy_kcal', 'unit_serving_carb_g', 'unit_serving_protein_g', 'unit_serving_fat_g', 'unit_serving_freesugar_g', 'unit_serving_fibre_g', 'unit_serving_sfa_mg', 'unit_serving_mufa_mg', 'unit_serving_pufa_mg', 'unit_serving_cholesterol_mg', 'unit_serving_calcium_mg', 'unit_serving_phosphorus_mg', 'unit_serving_magnesium_mg', 'unit_serving_sodium_mg', 'unit_serving_potassium_mg', 'unit_serving_iron_mg', 'unit_serving_copper_mg', 'unit_serving_selenium_ug', 'unit_serving_chromium_mg', 'unit_serving_manganese_mg', 'unit_serving_molybdenum_mg', 'unit_serving_zinc_mg', 'unit_serving_vita_ug', 'unit_serving_vite_mg', 'unit_serving_vitd2_ug', 'unit_serving_vitd3_ug', 'unit_serving_vitk1_ug', 'unit_serving_vitk2_ug', 'unit_serving_folate_ug', 'unit_serving_vitb1_mg', 'unit_serving_vitb2_mg', 'unit_serving_vitb3_mg', 'unit_serving_vitb5_mg', 'unit_serving_vitb6_mg', 'unit_serving_vitb7_ug', 'unit_serving_vitb9_ug', 'unit_serving_vitc_mg']]
df1.head()

,food_code,food_name,primarysource,servings_unit,unit_serving_energy_kj,unit_serving_energy_kcal,unit_serving_carb_g,unit_serving_protein_g,unit_serving_fat_g,unit_serving_freesugar_g,...,unit_serving_vitk2_ug,unit_serving_folate_ug,unit_serving_vitb1_mg,unit_serving_vitb2_mg,unit_serving_vitb3_mg,unit_serving_vitb5_mg,unit_serving_vitb6_mg,unit_serving_vitb7_ug,unit_serving_vitb9_ug,unit_serving_vitc_mg
0,ASC001,Hot tea (Garam Chai),asc_manual,tea cup,143.479996,33.983749,5.435000,0.816500,1.120000,5.422500,...,0.0,1.8025,0.007500,0.027800,0.02000,0.08560,0.010000,0.510000,1.8025,0.502500
1,ASC002,Instant coffee,asc_manual,tea cup,439.950012,104.201248,16.440001,2.883000,3.360000,16.267500,...,0.0,5.6025,0.023700,0.088800,0.80400,0.25500,0.030600,3.495000,5.6025,1.507500
2,ASC003,Espreso coffee,asc_manual,tea cup,343.940002,81.696251,10.493500,2.769000,3.389000,10.356000,...,0.0,5.5275,0.023400,0.087000,0.55900,0.25650,0.030450,2.870000,5.5275,1.507500
3,ASC004,Iced tea,asc_manual,tall glass,141.089996,33.095001,8.645000,0.089500,0.035000,8.645000,...,0.0,1.2850,0.005250,0.002150,0.01750,0.02180,0.008750,0.020000,1.2850,5.950000
4,ASC005,Raw mango drink (Aam panna),asc_manual,tall glass,409.179993,96.440414,24.292450,0.421638,0.070725,20.112925,...,0.0,14.0521,0.010925,0.012175,0.14205,0.06905,0.067525,0.732962,14.0521,45.301598

In [6]:
# Filtered columns
list_of_dfs = [df1, df2, df3, df4, df5]

# Creating a list of all the column names in each dataframe
list_of_column_names = []
for df in list_of_dfs:
    column_names = df.columns.tolist()
    list_of_column_names.append(column_names)

print("List of DataFrames and their column names:")
for i, df in enumerate(list_of_dfs):
    print(f"DataFrame {i+1}:")
    print(list_of_column_names[i])
    print("Number of columns:", len(list_of_column_names[i]))
    print()

List of DataFrames and their column names:
DataFrame 1:
['food_code', 'food_name', 'primarysource', 'servings_unit', 'unit_serving_energy_kj', 'unit_serving_energy_kcal', 'unit_serving_carb_g', 'unit_serving_protein_g', 'unit_serving_fat_g', 'unit_serving_freesugar_g', 'unit_serving_fibre_g', 'unit_serving_sfa_mg', 'unit_serving_mufa_mg', 'unit_serving_pufa_mg', 'unit_serving_cholesterol_mg', 'unit_serving_calcium_mg', 'unit_serving_phosphorus_mg', 'unit_serving_magnesium_mg', 'unit_serving_sodium_mg', 'unit_serving_potassium_mg', 'unit_serving_iron_mg', 'unit_serving_copper_mg', 'unit_serving_selenium_ug', 'unit_serving_chromium_mg', 'unit_serving_manganese_mg', 'unit_serving_molybdenum_mg', 'unit_serving_zinc_mg', 'unit_serving_vita_ug', 'unit_serving_vite_mg', 'unit_serving_vitd2_ug', 'unit_serving_vitd3_ug', 'unit_serving_vitk1_ug', 'unit_serving_vitk2_ug', 'unit_serving_folate_ug', 'unit_serving_vitb1_mg', 'unit_serving_vitb2_mg', 'unit_serving_vitb3_mg', 'unit_serving_vitb5_mg', 'unit_serving_vitb6_mg', 'unit_serving_vitb7_ug', 'unit_serving_vitb9_ug', 'unit_serving_vitc_mg']
Number of columns: 42

DataFrame 2:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'primarysource']
Number of columns: 5

DataFrame 3:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'primarysource', 'no_of_servings_org', 'no_of_servings', 'size_of_servings_org', 'size_of_servings', 'servings_unit_org', 'servings_unit', 'remarks_1', 'remarks_2']
Number of columns: 13

DataFrame 4:
['recipe_code_org', 'recipe_code', 'recipe_name_org', 'recipe_name', 'ingredient_name_org', 'amount_org', 'unit_org', 'food_code_org', 'food_name_org', 'food_code', 'food_name', 'amount', 'unit']
Number of columns: 13

DataFrame 5:
['Food items', 'Units', 'Units.1', 'Remarks', 'Source']
Number of columns: 5

In [7]:
# Making a copy and changing the df name to 
'''
# df_nutrients     = DataFrame 1 (INDB.xlsx)
# df_recipes       = DataFrame 2 (recipes_names.xlsx)
# df_servings      = DataFrame 3 (recipes_servingsize.xlsx)
# df_ingredients   = DataFrame 4 (recipes.xlsx)
# df_units         = DataFrame 5 (units.xlsx)
'''
df_nutrients = df1.copy()
df_recipes = df2.copy()
df_servings = df3.copy()
df_ingredients = df4.copy()
df_units = df5.copy()

### Viewing all the data

In [8]:
print("Nutreint Database")
df_nutrients.head()

Nutreint Database

,food_code,food_name,primarysource,servings_unit,unit_serving_energy_kj,unit_serving_energy_kcal,unit_serving_carb_g,unit_serving_protein_g,unit_serving_fat_g,unit_serving_freesugar_g,...,unit_serving_vitk2_ug,unit_serving_folate_ug,unit_serving_vitb1_mg,unit_serving_vitb2_mg,unit_serving_vitb3_mg,unit_serving_vitb5_mg,unit_serving_vitb6_mg,unit_serving_vitb7_ug,unit_serving_vitb9_ug,unit_serving_vitc_mg
0,ASC001,Hot tea (Garam Chai),asc_manual,tea cup,143.479996,33.983749,5.435000,0.816500,1.120000,5.422500,...,0.0,1.8025,0.007500,0.027800,0.02000,0.08560,0.010000,0.510000,1.8025,0.502500
1,ASC002,Instant coffee,asc_manual,tea cup,439.950012,104.201248,16.440001,2.883000,3.360000,16.267500,...,0.0,5.6025,0.023700,0.088800,0.80400,0.25500,0.030600,3.495000,5.6025,1.507500
2,ASC003,Espreso coffee,asc_manual,tea cup,343.940002,81.696251,10.493500,2.769000,3.389000,10.356000,...,0.0,5.5275,0.023400,0.087000,0.55900,0.25650,0.030450,2.870000,5.5275,1.507500
3,ASC004,Iced tea,asc_manual,tall glass,141.089996,33.095001,8.645000,0.089500,0.035000,8.645000,...,0.0,1.2850,0.005250,0.002150,0.01750,0.02180,0.008750,0.020000,1.2850,5.950000
4,ASC005,Raw mango drink (Aam panna),asc_manual,tall glass,409.179993,96.440414,24.292450,0.421638,0.070725,20.112925,...,0.0,14.0521,0.010925,0.012175,0.14205,0.06905,0.067525,0.732962,14.0521,45.301598

In [9]:
print("Recipes Database")
df_recipes.head(10)

Recipes Database

,recipe_code_org,recipe_code,recipe_name_org,recipe_name,primarysource
0,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),asc_manual
1,5.2,ASC002,Instant Coffee,Instant coffee,asc_manual
2,5.3,ASC003,Espreso coffee,Espreso coffee,asc_manual
3,5.4,ASC004,Iced Tea,Iced tea,asc_manual
4,5.5,ASC005,Raw Mango Panna,Raw mango drink (Aam panna),asc_manual
5,5.6,ASC006,Fruit Punch ( with fresh juices ),Fruit Punch (with fresh juices),asc_manual
6,5.7,ASC007,Fruit Punch ( with squashes ),Fruit Punch (with squashes),asc_manual
7,5.8,ASC008,Lemonade,Lemonade,asc_manual
8,5.8.a,ASC009,Lem-o-gin,Lem-o-gin,asc_manual
9,5.9,ASC010,Zeera Pani,Cumin infused water (Jeere/Zeere ka pani),asc_manual

In [10]:
print("Serving Database")
df_servings.head(10)

Serving Database

,recipe_code_org,recipe_code,recipe_name_org,recipe_name,primarysource,no_of_servings_org,no_of_servings,size_of_servings_org,size_of_servings,servings_unit_org,servings_unit,remarks_1,remarks_2
0,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),asc_manual,2,2.0,1,1.0,tea cup,tea cup,NaN,NaN
1,5.2,ASC002,Instant Coffee,Instant coffee,asc_manual,1,1.0,1,1.0,tea cup,tea cup,NaN,NaN
2,5.3,ASC003,Espreso coffee,Espreso coffee,asc_manual,1,1.0,1,1.0,tea cup,tea cup,NaN,NaN
3,5.4,ASC004,Iced Tea,Iced tea,asc_manual,1,1.0,1,1.0,tall glass,tall glass,NaN,NaN
4,5.5,ASC005,Raw Mango Panna,Raw mango drink (Aam panna),asc_manual,2,2.0,1,1.0,tall glass,tall glass,NaN,NaN
5,5.6,ASC006,Fruit Punch ( with fresh juices ),Fruit Punch (with fresh juices),asc_manual,2,2.0,1,1.0,tall glass,tall glass,NaN,NaN
6,5.7,ASC007,Fruit Punch ( with squashes ),Fruit Punch (with squashes),asc_manual,2,2.0,1,1.0,tall glass,tall glass,NaN,NaN
7,5.8,ASC008,Lemonade,Lemonade,asc_manual,2,2.0,1,1.0,glass,glass,NaN,NaN
8,5.8.a,ASC009,Lem-o-gin,Lem-o-gin,asc_manual,2,2.0,1,1.0,glass,glass,NaN,NaN
9,5.9,ASC010,Zeera Pani,Cumin infused water (Jeere/Zeere ka pani),asc_manual,2,2.0,1,1.0,glass,glass,NaN,NaN

In [11]:
print("Ingredients Database")
df_ingredients.head()

Ingredients Database

,recipe_code_org,recipe_code,recipe_name_org,recipe_name,ingredient_name_org,amount_org,unit_org,food_code_org,food_name_org,food_code,food_name,amount,unit
0,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),Milk,50,ml (to taste),L002,"Milk, whole, Cow",L002,"Milk, whole, Cow",50.0,ml
1,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),Sugar,2,tsp (to taste),UK-17-063,"Sugar, white",I502,"Sugar, white",2.0,tsp
2,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),Tea leaves,1.5,tsp,UK-17-165,"Tea, black, infusion, average",V510,"Tea, black, infusion, average",1.5,tsp
3,5.1,ASC001,Hot Tea,Hot tea (Garam Chai),Water,1.5,cups,UK-17-377,"Water, distilled",K505,"Water, distilled",1.5,C
4,5.2,ASC002,Instant Coffee,Instant coffee,Hot milk,75,ml (to taste),L002,"Milk, whole, Cow",L002,"Milk, whole, Cow",75.0,ml

In [12]:
print("Units Database")
df_units.head(100)

Units Database

,Food items,Units,Units.1,Remarks,Source
0,1 cup,240ml,240g,NaN,NaN
1,8 ounce,1cup,NaN,NaN,NaN
2,1 ounce,30g,NaN,NaN,NaN
3,Spice powders,1 sprinkle/pinch,0.25 tsp,NaN,NaN
4,NaN,1 dash,0.25 tsp,NaN,NaN
...,...,...,...,...,...
95,NaN,1tsp,2.8g,NaN,https://fdc.nal.usda.gov/fdc-app.html#/food-de...
96,Green chilies,3 nos,10 g,NaN,NaN
97,NaN,2 nos,6.67 g,NaN,NaN
98,NaN,1nos,3.33g,NaN,NaN
99,NaN,0.5 nos,1.67g,NaN,NaN

In [16]:
# Getting all the unique size_serving and serving unit
df_servings["servings_unit"]["size_of_servings"]

KeyError: 'size_of_servings'

In [ ]:
# -------------------------------
# STEP 1: Nutrient Fetch Function
# -------------------------------

def get_nutrient_per_serving(food_code, df_nutrients):
    """Return the nutrient values for a given food_code (per serving)."""
    row = df_nutrients[df_nutrients['food_code'] == food_code]
    if row.empty:
        raise ValueError(f"Food code {food_code} not found in nutrient data.")
    
    return {
        'kcal': row['unit_serving_energy_kcal'].values[0],
        'carbs_g': row['unit_serving_carb_g'].values[0],
        'protein_g': row['unit_serving_protein_g'].values[0],
        'fat_g': row['unit_serving_fat_g'].values[0],
        'fiber_g': row['unit_serving_fibre_g'].values[0],
        'sugar_g': row['unit_serving_freesugar_g'].values[0],
    }

# ----------------------------------
# STEP 2: Scaling by User Portion
# ----------------------------------

def scale_nutrients(nutrient_dict, servings):
    """Scale nutrient values based on number of servings."""
    return {k: v * servings for k, v in nutrient_dict.items()}

# ------------------------------------------
# STEP 3: Total Nutrient Calculation Utility (with names)
# ------------------------------------------

def calculate_meal_nutrients_with_names(components, df_nutrients):
    """
    Returns both the total nutrients and a breakdown by item with names.
    """
    total = {
        'kcal': 0, 'carbs_g': 0, 'protein_g': 0, 
        'fat_g': 0, 'fiber_g': 0, 'sugar_g': 0
    }

    breakdown = []  # To hold individual food item names and scaled nutrients

    for food_code, servings in components:
        row = df_nutrients[df_nutrients['food_code'] == food_code]
        if row.empty:
            raise ValueError(f"Food code {food_code} not found.")
        
        food_name = row['food_name'].values[0]
        nutrient_per_serving = get_nutrient_per_serving(food_code, df_nutrients)
        scaled = scale_nutrients(nutrient_per_serving, servings)

        # Add to breakdown
        breakdown.append({
            'food_name': food_name,
            'servings': servings,
            **scaled
        })

        # Add to total
        for k in total:
            total[k] += scaled.get(k, 0)
    
    return total, breakdown



# -------------------------------
# STEP 4: Display Result Nicely
# -------------------------------
def pretty_print_with_breakdown(total_nutrients, breakdown):
    print("\n🍽️ Meal Components Breakdown:")
    for item in breakdown:
        print(f"\n🧾 {item['food_name']} (x {item['servings']}):")
        print(f"  Calories : {item['kcal']:.2f} kcal")
        print(f"  Carbs    : {item['carbs_g']:.2f} g")
        print(f"  Protein  : {item['protein_g']:.2f} g")
        print(f"  Fat      : {item['fat_g']:.2f} g")
        print(f"  Fiber    : {item['fiber_g']:.2f} g")
        print(f"  Sugar    : {item['sugar_g']:.2f} g")

    print("\n✅ Total Nutrient Summary:")
    for k, v in total_nutrients.items():
        print(f"{k:<12}: {v:.2f}")


# -------------------------------
# STEP 5: Try with Example Meal
# -------------------------------

# Example: 1 idlis (ASC144) + 1.5 bowls sambar (ASC167)
meal = [("ASC144", 5), ("ASC167", 1)]
total, breakdown = calculate_meal_nutrients_with_names(meal, df_nutrients)
pretty_print_with_breakdown(total, breakdown)

🍽️ Meal Components Breakdown:

🧾 Idli (x 5):
  Calories : 172.35 kcal
  Carbs    : 35.31 g
  Protein  : 5.81 g
  Fat      : 0.42 g
  Fiber    : 2.89 g
  Sugar    : 0.36 g

🧾 Sambar (x 1):
  Calories : 249.32 kcal
  Carbs    : 27.19 g
  Protein  : 8.62 g
  Fat      : 11.27 g
  Fiber    : 9.06 g
  Sugar    : 8.51 g

✅ Total Nutrient Summary:
kcal        : 421.67
carbs_g     : 62.50
protein_g   : 14.43
fat_g       : 11.69
fiber_g     : 11.95
sugar_g     : 8.87